<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="p-fluid">
    <div class="col1">
      <div class="field">
        <label for="date">Start Date</label>
        <p-calendar id="date" formControlName="date" />
      </div>
      <div class="field">
        <label for="date">Expiration Date</label>
        <p-calendar id="date" formControlName="date" />
      </div>
      <div class="field">
        <label for="date">Notification Date</label>
        <p-calendar id="date" formControlName="date" />
      </div>
    </div>
    <div class="col2">
      <div class="field">
        <label for="date">Response Time</label>
        <p-calendar id="date" formControlName="date" />
      </div>
      <div class="field">
        <label for="date">Restoration Time</label>
        <p-calendar id="date" formControlName="date" />
      </div>
      <div class="field">
        <label for="date">Resolution Time</label>
        <p-calendar id="date" formControlName="date" />
      </div>
    </div>
    <div class="col3">
      <div class="field">
        <label for="status">Status:</label>
        <p-dropdown
          id="status"
          [options]="[1, 2, 3, 4, 5]"
          formControlName="status"
          placeholder="Select Status"
        >
        </p-dropdown>
      </div>
    </div>
  </div>
  <div class="btngroup">
    <button class="submitbtn" pButton type="submit" [disabled]="form.invalid">
      Relate
    </button>
    <button class="removebtn" [disabled]="form.invalid">Remove</button>
  </div>
</form>
