<div class="card">
  <div class="form-header">
    <h2>Asset Console</h2>
    <div class="filter-container">
      <select [(ngModel)]="selectedFilter" class="filter-select">
        <option value="">Select Filter</option>
        <option value="asset_name">Asset Name</option>
        <option value="asset_type">Asset Type</option>
        <option value="status">Status</option>
        <option value="serial_number">Serial Number</option>
        <option value="hrId">HR ID</option>
      </select>
      <input
        type="text"
        [(ngModel)]="searchValue"
        placeholder="Enter search value"
        class="search-input"
      />
      <button class="filter-button" (click)="applyFilter()">Filter</button>
      <button class="reset-button" (click)="resetFilter()">Reset</button>
    </div>
    <div style="border: 1px solid #ccc; padding: 8px">
      <!-- <button class="save-button" routerLink="/create-asset"> -->
      <button class="save-button" routerLink="/create">Create Asset</button>
    </div>
  </div>
  <p-table
    [value]="assets"
    dataKey="id"
    [resizableColumns]="false"
    [paginator]="true"
    [rows]="5"
    styleClass="custom-table"
  >
    <ng-template pTemplate="header">
      <tr>
        <th style="width: 4rem"><p-tableHeaderCheckbox /></th>
        <th style="width: 15%">Asset Name</th>
        <th style="width: 15%">Asset Type</th>
        <th style="width: 15%">Serial Number</th>
        <th style="width: 10%">Status</th>
        <th style="width: 10%">Priority</th>
        <th style="width: 10%">Image</th>
        <th style="width: 10%">Action</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-asset>
      <tr>
        <td>
          <p-tableCheckbox [value]="asset" />
        </td>
        <td>{{ asset.asset_name }}</td>
        <td>{{ asset.asset_type }}</td>
        <td>{{ asset.serial_number }}</td>
        <td>{{ asset.status }}</td>
        <td>{{ asset.priority }}</td>
        <td>
          <img
            *ngIf="asset.attach_image"
            [src]="'http://localhost:4000/uploads/assets/' + asset.attach_image"
            alt="{{ asset.asset_name }}"
            style="width: 50px; height: 50px; object-fit: cover"
          />
        </td>
        <td>
          <button (click)="navigateToAbout(asset.id)" class="save-button">
            Edit
          </button>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
